@import "../../sass/main.scss";

.footer {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #797979;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem;

  @include respond(phone) {
    flex-direction: column;
  }

  &__logo {
    height: 90%;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;

    b {
      font-size: 2rem;
    }

    a {
      color: #ffffff;
    }
  }
}