
@keyframes appear_logo {
  0% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear_image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes dot-map {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
