@import "../../sass/main.scss";

.main-layout {
  @include display-flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex-wrap: nowrap;
  position: relative;

  &__menu {
    @include display-flex;
    align-items: center;
    width: 100%;
    height: 7rem;
    box-shadow: 0px 6px 14px -3px rgba(107, 104, 104, 0.75);
    -webkit-box-shadow: 0px 6px 14px -3px rgba(107, 104, 104, 0.75);
    -moz-box-shadow: 0px 6px 14px -3px rgba(107, 104, 104, 0.75);
    z-index: 11;

    &__menu-mobile {
      display: none;
      height: 0vh;
      width: 100vw;
      transition: height 0.7s;
      overflow: hidden;

      @include respond(phone) {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 7rem;
        z-index: 1;
        justify-content: center;
        align-items: center;
        background-color: $color-white;

        &__clickeable-option {
          margin: 3rem 0;
          font-size: 2.5rem;
          cursor: pointer;
        }

        &--open {
          height: calc(100vh - 7rem);
          z-index: 10;
        }
      }
    }

    &__button {
      display: none;
      height: 6rem;
      margin: 0 2rem;
      cursor: pointer;

      @include respond(phone) {
        display: flex;
      }
    }

    @include respond(tab-port) {
      position: absolute;
      top: 0;
      background-color: $color-white;
    }

    &__search-container {
      @include display-flex;
      justify-content: center;
      align-items: center;
      margin: 0 2rem;

      &__image {
        height: 2.5rem !important;
        margin-right: 1rem;
        cursor: default;
      }

      &__input {
        height: 3rem;
        border: none;
        padding: 0.5rem;
        border-bottom: 1px solid black;

        &:focus-visible {
          border: none;
        }
      }
    }

    &__chopping-cart-container {
      position: relative;
      width: 5rem;
      margin: 0 4rem;
      cursor: pointer;

      @include respond(phone) {
        margin-top: 5rem;
      }

      &__dot {
        position: absolute;
        right: 0px;
        top: -4px;
        @include display-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        font-weight: 300;
        text-align: center;
        height: 2.3rem;
        width: 2.3rem;
        background-color: #ef4565;
        color: $color-white;
        border-radius: 50%;
        z-index: 10;
      }

      &__image {
        height: 3rem;
        transition: all 0.2s;
        z-index: 9;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__clickeable-option {
      text-decoration: none;
      font-size: $font-size-medium;
      font-weight: 600;
      margin: 0 1.5rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      @include display-flex;
      justify-content: flex-end;
      width: 100%;
      height: 5rem;
      align-items: center;
      list-style: none;

      @include respond(phone) {
        display: none;
      }
    }
  }

  &__outlet {
    flex: 1;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
