@import "../../sass/main.scss";

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;

  @include respond(tab-port) {
    margin-top: 9rem;
  }

  p {
    font-size: 2.1rem;
    text-align: center;
    margin: 3rem 6rem;

    @include respond(tab-port) {
      margin: 3rem 1.5rem;
    }
  }

  &__last-info {
    font-size: 2.1rem;
    text-align: center;
    margin: 3rem 6rem;
    margin-bottom: 10rem;
  }

  &__logo {
    height: 80%;
    margin: 1rem;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      box-shadow: 0px 0px 9px -1px rgba(175, 175, 175, 0.75);
      -webkit-box-shadow: 0px 0px 9px -1px rgba(175, 175, 175, 0.75);
      -moz-box-shadow: 0px 0px 9px -1px rgba(175, 175, 175, 0.75);
      overflow: hidden;
      margin: 4rem;
      padding-bottom: 2rem;
      background-color: #ffffff;

      @include respond(tab-port) {
        margin: 2rem 1rem;
      }

      &__text {
        text-align: center;
        font-size: 2.1rem !important;
        margin: 0 1rem !important;
      }

      &__logo {
        height: 30rem;
        margin-bottom: 2rem;
        z-index: 9;
      }
    }
  }
}
